@{
    Layout = "~/Views/Shared/_CarLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="car-wrap rounded ftco-animate">
                <div class="img rounded d-flex align-items-end" style="background-image: url('/Content/images/car-1.jpg');">
                </div>
                <div class="text">
                    <h2 class="mb-0">@Html.ActionLink("Mercedes Grand Sedan", "CarSingle")</h2>
                    <div class="d-flex mb-3">
                        <span class="cat">Cheverolet</span>
                        <p class="price ml-auto">$500 <span>/day</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="" class="btn btn-primary py-2 mr-1">Book now</a> @Html.ActionLink("Details", "CarSingle", new { id = 1 }, new { @class = "btn btn-secondary py-2 ml-1" })</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded ftco-animate">
                <div class="img rounded d-flex align-items-end" style="background-image: url('/Content/images/car-2.jpg');">
                </div>
                <div class="text">
                    <h2 class="mb-0">@Html.ActionLink("Range Rover", "CarSingle")</h2>
                    <div class="d-flex mb-3">
                        <span class="cat">Subaru</span>
                        <p class="price ml-auto">$500 <span>/day</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="" class="btn btn-primary py-2 mr-1">Book now</a>  @Html.ActionLink("Details", "CarSingle", new { id = 2 }, new { @class = "btn btn-secondary py-2 ml-1" })</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded ftco-animate">
                <div class="img rounded d-flex align-items-end" style="background-image: url('/Content/images/car-3.jpg');">
                </div>
                <div class="text">
                    <h2 class="mb-0">@Html.ActionLink("Range Rover", "CarSingle")</h2>
                    <div class="d-flex mb-3">
                        <span class="cat">Cheverolet</span>
                        <p class="price ml-auto">$500 <span>/day</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="" class="btn btn-primary py-2 mr-1">Book now</a>  @Html.ActionLink("Details", "CarSingle", new { id = 3 }, new { @class = "btn btn-secondary py-2 ml-1" })</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="car-wrap rounded ftco-animate">
                <div class="img rounded d-flex align-items-end" style="background-image: url('/Content/images/car-4.jpg');">
                </div>
                <div class="text">
                    <h2 class="mb-0">@Html.ActionLink("Range Rover", "CarSingle")</h2>
                    <div class="d-flex mb-3">
                        <span class="cat">Cheverolet</span>
                        <p class="price ml-auto">$500 <span>/day</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="" class="btn btn-primary py-2 mr-1">Book now</a> @Html.ActionLink("Details", "CarSingle", new { id = 4 }, new { @class = "btn btn-secondary py-2 ml-1" })</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded ftco-animate">
                <div class="img rounded d-flex align-items-end" style="background-image: url('/Content/images/car-5.jpg');">
                </div>
                <div class="text">
                    <h2 class="mb-0">@Html.ActionLink("Range Rover", "CarSingle")</h2>
                    <div class="d-flex mb-3">
                        <span class="cat">Subaru</span>
                        <p class="price ml-auto">$500 <span>/day</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="" class="btn btn-primary py-2 mr-1">Book now</a>  @Html.ActionLink("Details", "CarSingle", new { id = 5 }, new { @class = "btn btn-secondary py-2 ml-1" })</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded ftco-animate">
                <div class="img rounded d-flex align-items-end" style="background-image: url('/Content/images/car-6.jpg');">
                </div>
                <div class="text">
                    <h2 class="mb-0">@Html.ActionLink("Range Rover", "CarSingle")</h2>
                    <div class="d-flex mb-3">
                        <span class="cat">Cheverolet</span>
                        <p class="price ml-auto">$500 <span>/day</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="" class="btn btn-primary py-2 mr-1">Book now</a>  @Html.ActionLink("Details", "CarSingle", new { id = 6 }, new { @class = "btn btn-secondary py-2 ml-1" })</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="car-wrap rounded ftco-animate">
                <div class="img rounded d-flex align-items-end" style="background-image: url('/Content/images/car-7.jpg');">
                </div>
                <div class="text">
                    <h2 class="mb-0">@Html.ActionLink("Range Rover", "CarSingle")</h2>
                    <div class="d-flex mb-3">
                        <span class="cat">Cheverolet</span>
                        <p class="price ml-auto">$500 <span>/day</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="" class="btn btn-primary py-2 mr-1">Book now</a>  @Html.ActionLink("Details", "CarSingle", new { id = 7 }, new { @class = "btn btn-secondary py-2 ml-1" })</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded ftco-animate">
                <div class="img rounded d-flex align-items-end" style="background-image: url('/Content/images/car-8.jpg');">
                </div>
                <div class="text">
                    <h2 class="mb-0">@Html.ActionLink("Range Rover", "CarSingle")</h2>
                    <div class="d-flex mb-3">
                        <span class="cat">Subaru</span>
                        <p class="price ml-auto">$500 <span>/day</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="" class="btn btn-primary py-2 mr-1">Book now</a>  @Html.ActionLink("Details", "CarSingle", new { id = 8 }, new { @class = "btn btn-secondary py-2 ml-1" })</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded ftco-animate">
                <div class="img rounded d-flex align-items-end" style="background-image: url('/Content/images/car-9.jpg');">
                </div>
                <div class="text">
                    <h2 class="mb-0">@Html.ActionLink("Range Rover", "CarSingle")</h2>
                    <div class="d-flex mb-3">
                        <span class="cat">Cheverolet</span>
                        <p class="price ml-auto">$500 <span>/day</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="" class="btn btn-primary py-2 mr-1">Book now</a> @Html.ActionLink("Details", "CarSingle", new { id = 9 }, new { @class = "btn btn-secondary py-2 ml-1" })</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="car-wrap rounded ftco-animate">
                <div class="img rounded d-flex align-items-end" style="background-image: url('/Content/images/car-10.jpg');">
                </div>
                <div class="text">
                    <h2 class="mb-0">@Html.ActionLink("Range Rover", "CarSingle")</h2>
                    <div class="d-flex mb-3">
                        <span class="cat">Cheverolet</span>
                        <p class="price ml-auto">$500 <span>/day</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="" class="btn btn-primary py-2 mr-1">Book now</a> @Html.ActionLink("Details", "CarSingle", new { id = 10 }, new { @class = "btn btn-secondary py-2 ml-1" })</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded ftco-animate">
                <div class="img rounded d-flex align-items-end" style="background-image: url('/Content/images/car-11.jpg');">
                </div>
                <div class="text">
                    <h2 class="mb-0">@Html.ActionLink("Range Rover", "CarSingle")</h2>
                    <div class="d-flex mb-3">
                        <span class="cat">Subaru</span>
                        <p class="price ml-auto">$500 <span>/day</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="" class="btn btn-primary py-2 mr-1">Book now</a>  @Html.ActionLink("Details", "CarSingle", new { id = 11 }, new { @class = "btn btn-secondary py-2 ml-1" })</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="car-wrap rounded ftco-animate">
                <div class="img rounded d-flex align-items-end" style="background-image: url('/Content/images/car-12.jpg');">
                </div>
                <div class="text">
                    <h2 class="mb-0">@Html.ActionLink("Range Rover", "CarSingle")</h2>
                    <div class="d-flex mb-3">
                        <span class="cat">Cheverolet</span>
                        <p class="price ml-auto">$500 <span>/day</span></p>
                    </div>
                    <p class="d-flex mb-0 d-block"><a href="" class="btn btn-primary py-2 mr-1">Book now</a> @Html.ActionLink("Details", "CarSingle", new { id = 12 }, new { @class = "btn btn-secondary py-2 ml-1" })</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <div class="block-27">
                <ul>
                    <li><a href="#">&lt;</a></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

